
.header{
	background-color:  rgba(244, 244, 244, 0.7);
	border: 1px solid #D4D4D4;
	height: 190px;
	width: 1096px;
}

.title{
	float:left;
	width: 64%;
	height:auto;
}

.logo img{
	float: left;
	width: 600px;
	height: 100px;
	margin-top: 1.5%;
	margin-left: 3%;
}

.login{
	float: right;
	width: 25%;
	margin-top: 2%;	
	margin-right: 2%;
}

div.username{
	float: right;
	margin-bottom: 0%;
	padding-bottom: 0%;
}

div.pwd{
	float: right;
	margin-top: 3%;
	margin-bottom: 2%;
	padding-bottom: 0%;
}

div.forpass{
	clear: left;
	float: right;
	margin-bottom: 1%;
}

div.forpass a{
	font-size: 80%;
	text-decoration: none;
	margin-right: 5px; 	
}

div.forpass a:hover{
	border-bottom: dashed 1px;
}


input#logbutton{
	color: white;
	background-color: #333;
	border: none;
	height: 25px;
	width: 80px;
}

input#logbutton:hover{
	cursor: pointer;
	background-color: green;
}

#navigation{
	clear: left;
	float: left;
	width: 70%;
	height: auto;
	margin-top: 2.5%;
	margin-left: 1%;
}

#navigation div{
	float: left;
	padding: 0.7% 3.25%;
	margin-right: 0.3%;
	background: #333;
}

#navigation div a{
	color:white;
	text-decoration: none;
	font-size: 166%;
}	

#navigation div:hover{
	background: #383;
}